body {
    width: 100%;
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
    font-weight: var(--vscode-editor-font-weight);
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
}

.header {
    display: flex;
    align-items: center;
}

.frame {
    cursor: pointer;
    white-space: nowrap;
    display: flex;
}

.frame:hover {
    background-color: rgba(125, 125, 125, 0.2);
}

.collapsible {
    stroke: var(--vscode-editor-foreground);
    height: 14px;
}

.collapsible > svg {
    height: 100%;
    stroke: var(--vscode-editor-foreground);
}

.stopped {
    background-color: rgba(125, 125, 125, 0.5);
}

.location {
    cursor: pointer;
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    white-space: nowrap;
}

.location:hover {
    background-color: rgba(125, 125, 125, 0.2);
}

.focused {
    border: 1px solid #00B7CE;
}

button:not(:disabled) {
    cursor: pointer;
}

.recordButton {
    cursor: pointer;
    stroke: var(--vscode-debugIcon-stopForeground);
    stroke-width: 1.5px;
}

.recordButton rect {
    fill: var(--vscode-debugIcon-stopForeground);
}

.goToButton {
    stroke: var(--vscode-debugIcon-stepIntoForeground);
}

.goBackToButton {
    stroke: var(--vscode-debugIcon-stepBackForeground);
}

.debugButtons {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-evenly;
    background-color: rgba(51, 51, 51);
    width: 25%;
    height: 32px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.debugButtons > li {
    cursor: pointer;
    stroke-width: 1px;
    fill: transparent;
    stroke-linejoin: round;
}

.debugButtons > li[class~="disabled"] {
    cursor: not-allowed;
    filter: brightness(0.5);
}

.debugButtons > li:hover {
    background-color: var(--vscode-button-hoverBackground);
}

.args {
    opacity: 0.5;
}

.frameNames {
    list-style: none;
    background-color: var(--vscode-menu-background);
    color: var(--vscode-menu-foreground);
}

.filterInput {
    padding: 5px;
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-input-background);
    height: 20px;
    align-items: center;
}

.prevPageButton {
    color: var(--vscode-button-secondaryForeground);
    background-color: var(--vscode-button-secondaryBackground);
}

.nextPageButton {
    color: var(--vscode-button-secondaryForeground);
    background-color: var(--vscode-button-secondaryBackground);
}

.pageButtons {
    display: flex;
    justify-content: end;
}

.tabContent.active {
    color: var(--vscode-tab-activeForeground);
    background-color: var(--vscode-tab-activeBackground);
}

.tabContent {
    color: var(--vscode-tab-inactiveForeground);
    background-color: var(--vscode-tab-inactiveBackground);
    border: none;
}

.treeView ul {
    list-style: none;
}

.treeView li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.evalResult td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.evalResult button {
    color: var(--vscode-button-secondaryForeground);
    background-color: var(--vscode-button-secondaryBackground);
}

.evalResult .pagination {
    display: flex;
    justify-content: end;
}
