body {
    width: 100%;
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
    font-weight: var(--vscode-editor-font-weight);
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
}

.frame {
    cursor: pointer;
    white-space: nowrap;
}

.frame:hover {
    background-color: rgba(125, 125, 125, 0.2);
}

table {
    width: 100%;
    table-layout: fixed;
}

.stopped {
    background-color: rgba(125, 125, 125, 0.5);
}

td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.location {
    cursor: pointer;
}

.location:hover {
    background-color: rgba(125, 125, 125, 0.2);
}

.focused {
    border: 1px solid #00B7CE;
}

button:not(:disabled) {
    cursor: pointer;
}

.recordButton {
    cursor: pointer;
    stroke: var(--vscode-debugIcon-stopForeground);
}

.goToButton {
    stroke: var(--vscode-debugIcon-stepIntoForeground);
}

.goBackToButton {
    stroke: var(--vscode-debugIcon-stepBackForeground);
}

circle {
    stroke-width: 1.5px;
    stroke: rgb(246, 107, 107);
}

.debugButtons {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-evenly;
    background-color: rgba(51, 51, 51);
    width: 25%;
    height: 32px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.debugButtons > li {
    cursor: pointer;
    stroke-width: 1px;
    fill: transparent;
    stroke-linejoin: round;
}

.debugButtons > li[class~="disabled"] {
    cursor: not-allowed;
    filter: brightness(0.5);
}

.debugButtons > li:hover {
    background-color: rgba(90, 90, 90);
}

.args {
    opacity: 0.5;
}

.frameNames {
    list-style: none;
    background-color: var(--vscode-menu-background);
    color: var(--vscode-menu-foreground);
}
